<div class="container">
  <h1>Welcome to CloneList!</h1>
  <br>
    <h2>Categories</h2>
    <ul>
      <% @categories.each do |category| %>
        <li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
      <% end %>
    <ul>
</div>
